Multi Roles Hiring Automation system.json
{
  "name": "Multi Roles Hiring Automation system",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -7952,
        -576
      ],
      "id": "ed45a8e5-f270-4d03-8f1a-984c0e6d9c36",
      "name": "Run Every Hour"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1UM4h3OPU3BcjsQ6v7z5dje5fNQ8dhh7RcbdtR99Fopo",
          "mode": "list",
          "cachedResultName": "Software Engineer Application (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UM4h3OPU3BcjsQ6v7z5dje5fNQ8dhh7RcbdtR99Fopo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1859243991,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UM4h3OPU3BcjsQ6v7z5dje5fNQ8dhh7RcbdtR99Fopo/edit#gid=1859243991"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -7712,
        -608
      ],
      "id": "270e3fbe-edb5-4b14-aee9-0c54333f0cdc",
      "name": "Read SWE sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "u328F6ED1OSXZmUd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1tBtuoYoc29H0uFW7tP6-9HWAwfJZI1aQhgob-dbbVzs",
          "mode": "list",
          "cachedResultName": "  Business Development Manager Application   (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tBtuoYoc29H0uFW7tP6-9HWAwfJZI1aQhgob-dbbVzs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1989474928,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tBtuoYoc29H0uFW7tP6-9HWAwfJZI1aQhgob-dbbVzs/edit#gid=1989474928"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -7728,
        -464
      ],
      "id": "de1f15cf-b766-4576-9a1b-3c2690df5bf5",
      "name": "Read BDM sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "u328F6ED1OSXZmUd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35b89566-7027-4dbd-a4c8-d24b5e393192",
              "name": "role",
              "value": "SWE",
              "type": "string"
            },
            {
              "id": "dda2e9f3-e8d9-4a0f-a0d5-46231536b368",
              "name": "=name",
              "value": "={{ $json[\"Full Name\"] }}",
              "type": "string"
            },
            {
              "id": "df493fc7-9889-4953-a7c9-d109dd6516d3",
              "name": "=email",
              "value": "={{ $json[\"Email Address\"] }}",
              "type": "string"
            },
            {
              "id": "4393a3d0-2c3a-40f5-8a82-066e452991ee",
              "name": "=resume_url",
              "value": "={{ $json[\"Upload Your Resume (PDF)\"] }}",
              "type": "string"
            },
            {
              "id": "e731d2c6-8ffa-4750-979d-22c80bee0475",
              "name": "=years_experience",
              "value": "={{ $json[\"Years of Experience\"] }}",
              "type": "string"
            },
            {
              "id": "fe5a75b7-96ad-448c-803b-13a5b227ed36",
              "name": "=extra_field",
              "value": "={{ $json[\"Primary Programming Languages\"] }}",
              "type": "string"
            },
            {
              "id": "532ed7de-95d4-43ae-9104-84c9cead9890",
              "name": "=timestamp",
              "value": "={{ $json[\"Timestamp\"] }}",
              "type": "string"
            },
            {
              "id": "287fba73-99a5-4065-b6ff-688933f23e06",
              "name": "status",
              "value": "unprocessed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -7520,
        -608
      ],
      "id": "70e7e898-1bb5-4795-9577-6fc6be518ee2",
      "name": "Standardize SWE Data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8b5d8c8e-8748-4fe4-999c-ee52f1a24e00",
              "name": "role",
              "value": "BDM",
              "type": "string"
            },
            {
              "id": "ed5145ab-4bf0-4dfe-a21a-e504b2aec61a",
              "name": "=name",
              "value": "={{ $json[\"Full Name\"] }}",
              "type": "string"
            },
            {
              "id": "1a207c77-448e-4319-8f77-9861b64c72f7",
              "name": "=email",
              "value": "={{ $json[\"Email Address\"] }}",
              "type": "string"
            },
            {
              "id": "69944c3a-487b-4638-91ad-4d079ff9a22d",
              "name": "=resume_url",
              "value": "={{ $json[\"Upload Your Resume (PDF)\"] }}",
              "type": "string"
            },
            {
              "id": "bee49842-62c6-4439-b508-ea04c337c46d",
              "name": "=years_experience",
              "value": "={{ $json['Years of Sale/BD Experience'] }}",
              "type": "string"
            },
            {
              "id": "b830ec27-d522-47b8-bbcb-91dd02edafce",
              "name": "=extra_field",
              "value": "={{ $json[\"Industries Worked In\"] }}",
              "type": "string"
            },
            {
              "id": "e0724856-4b84-4c22-9675-de103114004d",
              "name": "=timestamp",
              "value": "={{ $json[\"Timestamp\"] }}",
              "type": "string"
            },
            {
              "id": "0d9b1b6d-7ab6-4696-9c04-66b6a0d13878",
              "name": "status",
              "value": "unprocessed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -7520,
        -464
      ],
      "id": "93e142ab-e360-4998-b49a-98349f82e6e1",
      "name": "Standardize BDM Data"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -7248,
        -544
      ],
      "id": "1eede3dd-b821-4eb8-bdb1-2b259518ef08",
      "name": "Merge All Applications"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1IR384Im4-EsCxMUBvVcWnQYXLOjO0N330F_iQ0gTaw8",
          "mode": "list",
          "cachedResultName": "Hiring Pipeline - Master DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IR384Im4-EsCxMUBvVcWnQYXLOjO0N330F_iQ0gTaw8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IR384Im4-EsCxMUBvVcWnQYXLOjO0N330F_iQ0gTaw8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -7072,
        -448
      ],
      "id": "530828cb-3c04-4e45-9d12-4a2705b9d559",
      "name": "Read Master DB",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "u328F6ED1OSXZmUd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "email",
              "field2": "email"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -6752,
        -480
      ],
      "id": "93189041-95b4-45ea-bc49-101a17666f0a",
      "name": "Filter New Only"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "94c98bb6-f4ff-4745-a01b-8a929c9f9645",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -7680,
        -160
      ],
      "id": "708ef2e2-e4eb-4a4f-bbf4-bbeb4705bf46",
      "name": "Any New Applications?"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const url = item.json.resume_url;\n  \n  // Extract the file ID from the Drive URL\n  let fileId = '';\n  \n  if (url.includes('id=')) {\n    fileId = url.split('id=')[1].split('&')[0];\n  } else if (url.includes('/d/')) {\n    fileId = url.split('/d/')[1].split('/')[0];\n  }\n  \n  return {\n    json: {\n      ...item.json,\n      file_id: fileId,\n      download_url: `https://drive.google.com/uc?export=download&id=${fileId}`\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7472,
        -176
      ],
      "id": "194afc0f-2ed1-48e7-a7d7-b778cf706dc6",
      "name": "Extract File ID"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -7264,
        -176
      ],
      "id": "b0bb59d7-cb27-4d3a-8a21-f4c13d80f803",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "B6Fu8wFPX3Tld3mA",
          "name": "zehranwasim1122@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -7056,
        -176
      ],
      "id": "fd07f758-82d4-4bb8-b7f3-5adda05b4acf",
      "name": "Extract resume text"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5df8a5d7-f865-4ad2-ad05-2bf395b84cba",
              "name": "=name",
              "value": "={{ $('Filter New Only').item.json.name }}",
              "type": "string"
            },
            {
              "id": "5368f215-dbd7-476b-8736-58461a5802f9",
              "name": "=email",
              "value": "={{ $('Filter New Only').item.json.email }}",
              "type": "string"
            },
            {
              "id": "7d3ba599-da5c-4835-beae-eaf8a102cd99",
              "name": "role",
              "value": "={{ $('Filter New Only').item.json.role }}",
              "type": "string"
            },
            {
              "id": "2ad6578d-93d2-4dc7-9c8f-f3c472765877",
              "name": "=resume_url",
              "value": "={{ $('Filter New Only').item.json.resume_url }}",
              "type": "string"
            },
            {
              "id": "b8b95363-105c-4dee-bb41-0be559ff76cc",
              "name": "=years_experience",
              "value": "={{ $('Filter New Only').item.json.years_experience }}",
              "type": "string"
            },
            {
              "id": "9e2b98bf-a506-4e65-b573-c0f8aaae5329",
              "name": "=extra_field",
              "value": "={{ $('Filter New Only').item.json.extra_field }}",
              "type": "string"
            },
            {
              "id": "2cc92112-51df-4c70-b6ec-0010a2f756b1",
              "name": "=timestamp",
              "value": "={{ $('Filter New Only').item.json.timestamp }}",
              "type": "string"
            },
            {
              "id": "6387c625-4707-4f90-88e4-0e35b072354e",
              "name": "=resume_text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6880,
        -176
      ],
      "id": "3871c07d-2111-4bbb-b001-a7a3aff4e378",
      "name": "Attach Resume Text"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map(item => {\n  let text = item.json.candidates[0].content.parts[0].text;\n  \n  // Remove markdown backticks if Gemini adds them\n  text = text.replace(/```json/g, '').replace(/```/g, '').trim();\n  \n  let parsed;\n  try {\n    parsed = JSON.parse(text);\n  } catch(e) {\n    parsed = {\n      score: 0,\n      classification: 'average',\n      summary: 'Could not parse AI response',\n      strengths: 'N/A',\n      concerns: 'N/A',\n      recommendation: 'Manual review required'\n    };\n  }\n\n  // Safely convert arrays or objects to plain strings\n  const toSafeString = (val) => {\n    if (val === null || val === undefined) return '';\n    if (Array.isArray(val)) return val.join('; ');\n    if (typeof val === 'object') return JSON.stringify(val);\n    return String(val).trim();\n  };\n\n  return {\n    json: {\n      name: item.json.name,\n      email: item.json.email,\n      role: item.json.role,\n      resume_url: item.json.resume_url,\n      years_experience: item.json.years_experience,\n      timestamp: item.json.timestamp,\n      score: Number(parsed.score) || 0,\n      classification: toSafeString(parsed.classification),\n      summary: toSafeString(parsed.summary),\n      strengths: toSafeString(parsed.strengths),\n      concerns: toSafeString(parsed.concerns),\n      recommendation: toSafeString(parsed.recommendation),\n      status: 'screened'\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7216,
        112
      ],
      "id": "e2e89d94-c3b7-4233-b50a-a7b5db295034",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1IR384Im4-EsCxMUBvVcWnQYXLOjO0N330F_iQ0gTaw8",
          "mode": "list",
          "cachedResultName": "Hiring Pipeline - Master DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IR384Im4-EsCxMUBvVcWnQYXLOjO0N330F_iQ0gTaw8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IR384Im4-EsCxMUBvVcWnQYXLOjO0N330F_iQ0gTaw8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "candidate_ID": "={{ $now.toMillis() }}",
            "timestamp": "={{ $('Attach Resume Text').item.json.timestamp }}",
            "name": "={{ $('Attach Resume Text').item.json.name }}",
            "email": "={{ $('Attach Resume Text').item.json.email }}",
            "role": "={{ $('Attach Resume Text').item.json.role }}",
            "resume_url": "={{ $('Attach Resume Text').item.json.resume_url }}",
            "score": "={{ $json.score }}",
            "classification": "={{ $json.classification }}",
            "summary": "={{ $json.summary }}",
            "strengths": "={{ $json.strengths }}",
            "concerns": "={{ $json.concerns }}",
            "recommendation": "={{ $json.recommendation }}",
            "status": "={{ $json.status }}"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "candidate_ID",
              "displayName": "candidate_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resume_url",
              "displayName": "resume_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resume_text",
              "displayName": "resume_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "classification",
              "displayName": "classification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "strengths",
              "displayName": "strengths",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "concerns",
              "displayName": "concerns",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recommendation",
              "displayName": "recommendation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contacted",
              "displayName": "contacted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -6976,
        112
      ],
      "id": "7f46a3e7-7a25-438a-90bc-8a38cb467e53",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "u328F6ED1OSXZmUd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const role = item.json.role;\n  const name = item.json.name;\n  const years = item.json.years_experience;\n  const extra = item.json.extra_field;\n  const resume = item.json.resume_text;\n\n  const swePrompt = `You are a technical hiring evaluator for a Software Engineer position. Evaluate this candidate strictly on software engineering criteria.\n\nEvaluate based on:\n- Programming languages and frameworks\n- Years and quality of technical experience\n- System design and architecture knowledge\n- DevOps, databases, and tooling\n- Overall technical depth\n\nCandidate Details:\nName: ${name}\nYears of Experience: ${years}\nPrimary Languages: ${extra}\nResume:\n${resume}\n\nRespond ONLY in this exact JSON format with no extra text, no markdown, no backticks:\n{\n  \"score\": <number 1-100>,\n  \"classification\": \"<strong|average|weak>\",\n  \"summary\": \"<2-3 sentence summary>\",\n  \"strengths\": \"<key strengths>\",\n  \"concerns\": \"<key concerns>\",\n  \"recommendation\": \"<interview recommendation>\"\n}`;\n\n  const bdmPrompt = `You are a hiring evaluator for a Business Development Manager position. Evaluate this candidate strictly on business development criteria.\n\nEvaluate based on:\n- Sales and revenue generation track record\n- B2B relationship and pipeline management\n- Negotiation and closing ability\n- Strategic thinking and market knowledge\n- Leadership and communication skills\n\nCandidate Details:\nName: ${name}\nYears of Experience: ${years}\nIndustries: ${extra}\nResume:\n${resume}\n\nRespond ONLY in this exact JSON format with no extra text, no markdown, no backticks:\n{\n  \"score\": <number 1-100>,\n  \"classification\": \"<strong|average|weak>\",\n  \"summary\": \"<2-3 sentence summary>\",\n  \"strengths\": \"<key strengths>\",\n  \"concerns\": \"<key concerns>\",\n  \"recommendation\": \"<interview recommendation>\"\n}`;\n\n  const prompt = role === 'SWE' ? swePrompt : bdmPrompt;\n\n  // Build the entire Gemini request body here\n  const geminiBody = {\n    contents: [\n      {\n        parts: [\n          {\n            text: prompt\n          }\n        ]\n      }\n    ],\n    generationConfig: {\n      temperature: 0.3\n    }\n  };\n\n  return {\n    json: {\n      ...item.json,\n      ai_prompt: prompt,\n      gemini_body: JSON.stringify(geminiBody)\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7648,
        112
      ],
      "id": "45fe12ad-e813-43ba-87df-a2633a65f1bd",
      "name": "Build AI Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSyCKmcAFPaWuRuTE8hnrjj8esnV24FYUHgM",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.gemini_body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -7440,
        112
      ],
      "id": "cbebedeb-e86e-4aaa-8ec9-ee2e7dacf036",
      "name": "Ai screen candidate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d3dec246-2025-4077-9ab9-35ee051e57ad",
              "leftValue": "={{ $json.role }}",
              "rightValue": "SWE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -6784,
        112
      ],
      "id": "b0c8630b-2b82-4b81-b4e5-9f50d8388b24",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1UM4h3OPU3BcjsQ6v7z5dje5fNQ8dhh7RcbdtR99Fopo",
          "mode": "list",
          "cachedResultName": "Software Engineer Application (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UM4h3OPU3BcjsQ6v7z5dje5fNQ8dhh7RcbdtR99Fopo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1859243991,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UM4h3OPU3BcjsQ6v7z5dje5fNQ8dhh7RcbdtR99Fopo/edit#gid=1859243991"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "processed",
            "Email Address": "={{ $json.email }}"
          },
          "matchingColumns": [
            "Email Address"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Years of Experience",
              "displayName": "Years of Experience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Primary Programming Languages",
              "displayName": "Primary Programming Languages",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "GitHub Profile URL",
              "displayName": "GitHub Profile URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Upload Your Resume (PDF)",
              "displayName": "Upload Your Resume (PDF)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -6416,
        32
      ],
      "id": "c6cb7f53-cb29-4f84-81b4-acb95ec8e546",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "u328F6ED1OSXZmUd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1tBtuoYoc29H0uFW7tP6-9HWAwfJZI1aQhgob-dbbVzs",
          "mode": "list",
          "cachedResultName": "  Business Development Manager Application   (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tBtuoYoc29H0uFW7tP6-9HWAwfJZI1aQhgob-dbbVzs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1989474928,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tBtuoYoc29H0uFW7tP6-9HWAwfJZI1aQhgob-dbbVzs/edit#gid=1989474928"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email Address": "={{ $json.email }}",
            "Status": "processed"
          },
          "matchingColumns": [
            "Email Address"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Years of Sale/BD Experience",
              "displayName": "Years of Sale/BD Experience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Industries Worked In",
              "displayName": "Industries Worked In",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "LinkedIn Profile URL",
              "displayName": "LinkedIn Profile URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Upload Your Resume (PDF)",
              "displayName": "Upload Your Resume (PDF)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -6416,
        192
      ],
      "id": "621f4cbf-500e-45ec-b58c-bd979d615380",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "u328F6ED1OSXZmUd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -6416,
        -368
      ],
      "id": "cfcc14ea-c95e-4ee8-b4fb-3c89be6b48e5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1IR384Im4-EsCxMUBvVcWnQYXLOjO0N330F_iQ0gTaw8",
          "mode": "list",
          "cachedResultName": "Hiring Pipeline - Master DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IR384Im4-EsCxMUBvVcWnQYXLOjO0N330F_iQ0gTaw8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IR384Im4-EsCxMUBvVcWnQYXLOjO0N330F_iQ0gTaw8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -6160,
        -368
      ],
      "id": "faf7f8b0-3abf-4cf7-b194-63f8f180ff1f",
      "name": "Read Master DB1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "u328F6ED1OSXZmUd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "05f5664c-b286-4032-acec-8487f708b33a",
              "leftValue": "={{ $json.status }}",
              "rightValue": "screened",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -5952,
        -368
      ],
      "id": "698f43d7-b13b-4dbb-b902-8539f041cf79",
      "name": "filter screened only"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8f1e3364-56d0-4f36-83e7-41ba3ec45c38",
                    "leftValue": "={{ $json.classification }}",
                    "rightValue": "strong",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "strong"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6a843338-9f49-48e7-9804-5c2af312a80e",
                    "leftValue": "={{ $json.classification }}",
                    "rightValue": "average",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "average"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0f6ab68d-b966-469a-9872-13b6e142a5cf",
                    "leftValue": "={{ $json.classification }}",
                    "rightValue": "weak",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "weak"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -5744,
        -464
      ],
      "id": "18c6b964-04a9-4594-a2fe-02dc9d80d1a6",
      "name": "Route by classification"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "zehranwasim1122@gmail.com",
          "mode": "list",
          "cachedResultName": "zehranwasim1122@gmail.com"
        },
        "start": "={{ $now.plus(3, 'days').startOf('day').plus(10, 'hours').toISO() }}",
        "end": "={{ $now.plus(3, 'days').startOf('day').plus(11, 'hours').toISO() }}",
        "additionalFields": {
          "attendees": [
            "={{ $('Route by classification').item.json.email }}"
          ],
          "description": "=Interview -  {{ $('Route by classification').item.json.name }} - {{ $('Route by classification').item.json.role }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -5248,
        -656
      ],
      "id": "d1c49f86-de3a-4ea6-ad89-c77627844123",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ADkwvoVRWj2slDHD",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -5024,
        -448
      ],
      "id": "36a58b77-78f9-4a54-aaa0-b383524e267f",
      "name": "Merge"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Candidate Review Required - {{ $json.name }} - {{ $json.role }} | Trilles AI",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">   <h2 style=\"color: #F5A623;\">Trilles AI — Candidate Requires Review</h2>   <p>Hi Hiring Manager,</p>   <p>A candidate has been screened for the <strong>{{ $json.role }}</strong> position and requires your manual review.</p>   <table style=\"width:100%; border-collapse: collapse; margin-top: 10px;\">     <tr><td style=\"padding: 8px; background:#f9f9f9;\"><strong>Name</strong></td><td style=\"padding: 8px;\">{{ $json.name }}</td></tr>     <tr><td style=\"padding: 8px;\"><strong>Email</strong></td><td style=\"padding: 8px;\">{{ $json.email }}</td></tr>     <tr><td style=\"padding: 8px; background:#f9f9f9;\"><strong>Role</strong></td><td style=\"padding: 8px;\">{{ $json.role }}</td></tr>     <tr><td style=\"padding: 8px;\"><strong>Score</strong></td><td style=\"padding: 8px;\">{{ $json.score }}</td></tr>     <tr><td style=\"padding: 8px; background:#f9f9f9;\"><strong>Summary</strong></td><td style=\"padding: 8px;\">{{ $json.summary }}</td></tr>     <tr><td style=\"padding: 8px;\"><strong>Strengths</strong></td><td style=\"padding: 8px;\">{{ $json.strengths }}</td></tr>     <tr><td style=\"padding: 8px; background:#f9f9f9;\"><strong>Concerns</strong></td><td style=\"padding: 8px;\">{{ $json.concerns }}</td></tr>   </table>   <br/>   <p>Please review and take appropriate action.</p>   <p><strong>Hiring Team</strong><br/>Trilles AI</p> </div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -5408,
        -528
      ],
      "id": "0250cd25-a3ba-4096-bca4-3105343bc555",
      "name": "Hiring manager email",
      "webhookId": "c1567c94-a5b5-4ec1-af01-e0570e48d927",
      "credentials": {
        "gmailOAuth2": {
          "id": "dhxJcg4jRoJgPw2C",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Your Application at Trilles AI - {{ $json.role }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">   <h2 style=\"color: #333;\">Trilles AI — Application Update</h2>   <p>Dear {{ $json.name }},</p>   <p>Thank you for taking the time to apply for the <strong>{{ $json.role }}</strong> position at Trilles AI. We truly appreciate your interest in joining our team.</p>   <p>After carefully reviewing your application, we regret to inform you that we will not be moving forward with your candidacy at this time. This was a difficult decision as we received many strong applications.</p>   <p>We encourage you to keep an eye on our future openings as we are a growing team and new opportunities may arise that better match your profile.</p>   <p>We wish you all the best in your job search and future endeavors.</p>   <br/>   <p>Kind regards,</p>   <p><strong>Hiring Team</strong><br/>Trilles AI</p> </div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -5424,
        -304
      ],
      "id": "4eebb452-c44e-41be-9096-1198a3604773",
      "name": "Rejection email",
      "webhookId": "a898bd5a-6c7f-4a01-8269-692bd965d1fd",
      "credentials": {
        "gmailOAuth2": {
          "id": "dhxJcg4jRoJgPw2C",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Interview Invitation - {{ $json.name }} - {{ $json.role }} | Trilles AI",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">   <h2 style=\"color: #2D5BFF;\">Trilles AI — Interview Invitation</h2>   <p>Dear {{ $json.name }},</p>   <p>We are pleased to inform you that after reviewing your application for the <strong>{{ $json.role }}</strong> position at Trilles AI, you have been selected for an interview.</p>   <p>Our team was impressed by your profile. Here's a brief summary of what stood out:</p>   <blockquote style=\"border-left: 4px solid #2D5BFF; padding-left: 12px; color: #555;\">     {{ $json.summary }}   </blockquote>   <p>We will follow up shortly with the interview schedule and further details.</p>   <p>Please feel free to reach out if you have any questions in the meantime.</p>   <br/>   <p>Best regards,</p>   <p><strong>Hiring Team</strong><br/>Trilles AI</p> </div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -5520,
        -656
      ],
      "id": "b4b9d935-658a-437c-ad0b-d358e58207fe",
      "name": "Send interview invitation",
      "webhookId": "5977fabc-7ed8-46d7-a25a-d8a605c8229c",
      "credentials": {
        "gmailOAuth2": {
          "id": "dhxJcg4jRoJgPw2C",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1IR384Im4-EsCxMUBvVcWnQYXLOjO0N330F_iQ0gTaw8",
          "mode": "list",
          "cachedResultName": "Hiring Pipeline - Master DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IR384Im4-EsCxMUBvVcWnQYXLOjO0N330F_iQ0gTaw8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IR384Im4-EsCxMUBvVcWnQYXLOjO0N330F_iQ0gTaw8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "contacted",
            "contacted": "={{ $now.toISO() }}",
            "email": "={{ $json.attendees[0].email }}"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "candidate_ID",
              "displayName": "candidate_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resume_url",
              "displayName": "resume_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resume_text",
              "displayName": "resume_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "classification",
              "displayName": "classification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "strengths",
              "displayName": "strengths",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "concerns",
              "displayName": "concerns",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "recommendation",
              "displayName": "recommendation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contacted",
              "displayName": "contacted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -4880,
        -432
      ],
      "id": "e1374dd5-f35a-485b-b952-74e7f5c2eaf3",
      "name": "Update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "u328F6ED1OSXZmUd",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Run Every Hour": {
      "main": [
        [
          {
            "node": "Read SWE sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read BDM sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read SWE sheet": {
      "main": [
        [
          {
            "node": "Standardize SWE Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read BDM sheet": {
      "main": [
        [
          {
            "node": "Standardize BDM Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Standardize SWE Data": {
      "main": [
        [
          {
            "node": "Merge All Applications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Standardize BDM Data": {
      "main": [
        [
          {
            "node": "Merge All Applications",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge All Applications": {
      "main": [
        [
          {
            "node": "Filter New Only",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Master DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Master DB": {
      "main": [
        [
          {
            "node": "Filter New Only",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Filter New Only": {
      "main": [
        [
          {
            "node": "Any New Applications?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any New Applications?": {
      "main": [
        [
          {
            "node": "Extract File ID",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Extract File ID": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract resume text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract resume text": {
      "main": [
        [
          {
            "node": "Attach Resume Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Resume Text": {
      "main": [
        [
          {
            "node": "Build AI Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build AI Prompt": {
      "main": [
        [
          {
            "node": "Ai screen candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ai screen candidate": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Master DB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Master DB1": {
      "main": [
        [
          {
            "node": "filter screened only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filter screened only": {
      "main": [
        [
          {
            "node": "Route by classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by classification": {
      "main": [
        [
          {
            "node": "Send interview invitation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hiring manager email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rejection email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hiring manager email": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Rejection email": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Send interview invitation": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8decffd0-ba62-4758-8e2e-de032fff4b87",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ecbb9a86669be210b0750bddf3fce5c52c8449a17112b7f6ce16b2b6adb06d9f"
  },
  "id": "ie3ODW09gVMFhQgw",
  "tags": []
}